@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.container{
    background-image: url(images/developer.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content{
    color: #0FB1BD;
    margin: 0 auto;
    max-width: 900px;
    padding-top: 64px;
    padding-left: 16px;
}

.txt{
    font-size: 70px;
    font-weight: 400;
}

.text{
    font-size: 70px;
    font-weight: 400;
    text-transform: uppercase;
}

.box{
    padding: 20px;
    background-color: black;
}

.box h2{
    color: white;
    font-size: 70px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.lrg{
    font-size: 90px;
    font-weight: 400;
}

.skill{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: 50px auto;
}

.grid_skill{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    max-width: 320px;
    height: 400px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.card:hover{
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    transition: 0.2s ease-in-out;
}

.info{
    padding: 15px;
}

.info h3{
    margin-bottom: 10px;
}

.detail{
    display: flex;
}

.contact{
    background-color: #515603;
}

.about{
    background-color: #722300;
}

.contact, .about{
    padding: 30px;
    color: white;
    min-height: 300px;
}

.contact h2, .about h2{
    font-size: 64px;
    font-weight: 300;
}

.contact p, .about p{
    margin-bottom: 20px;
}

footer{
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}